.chart-candles {
  &-datepicker {
    &.react-datepicker-wrapper{
      width: auto;
    }
    &__button {
      background-color: transparent;
      border: none;
      color: #E8AB4F;
      cursor: pointer;
    }
  }
  &-actions {
    display: flex;
    justify-content: space-between;
    &-intervals {
      &__interval {
        color: #E8AB4F;
        text-decoration: underline;
        margin-left: 1rem;
        cursor: pointer;
        &--active {
          color: #F3DC62;
        }
      }
    }
  }
}