.account-settings {
  background-color: #353535;
  height: 100%;
  hr {
    border: none;
    background-color: var(--energy-yellow);
    color: var(--energy-yellow);
    height: 0.3rem;
    margin: 0 5.5rem;
  }
  &-profile {
    background-color: #222222;
    height: 100%;
    width: 30%;
    &-user {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__avatar {
        width: 10rem;
        height: 10rem;
        border-radius: 7rem;
        background-color: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        &__image {
          display: flex;
          width: 100%;
          align-items: flex-end;
          justify-content: flex-end;
          position: relative;
          label {
            display: block;
            cursor: pointer;
          }
          & > form {
            position: absolute;
            bottom: -1rem;
          }
        }
      }
      &__name {
        color: var(--white);
        font-size: 3rem;
      }
    }
    &-menu {
      padding-left: 5.5rem;
      font-size: 2rem;
      &__item {
        display: flex;
        margin: 3.7rem 0 0;
        &:hover {
          color: var(--tulip-tree);
          cursor: pointer;
        }
        &--exit-link {
          margin-top: 10rem;
        }
        p {
          margin: 0;
        }
        &__icon {
          margin-left: 1rem;
          height: 1.7rem;
        }
        &-link {
          color: rgba(var(--white-rgb), 0.7);
          text-decoration: none;
          &--active {
            color: var(--tulip-tree)
          }
          &__icon {
            margin-left: 1rem;
          }
          &--exit-link {
            color: var(--punch);
          }
        }
      }
    }
  }
}
