.base-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    color: var(--white);
    border: 2px solid var(--energy-yellow);
    background-color: rgba(var(--black-rgb), 0.7);
    border-radius: 0.5rem;
    padding: 2rem;
    position: relative;
    max-width: 30rem;
    width: 100%;
    &__header {
      display: flex;
      justify-content: center;
      margin: 2rem 0;
    }
    &__close_button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      background: transparent;
      border: none;
      color: var(--white);
      cursor: pointer;
    }
  }
}