.account-settings {
  background-color: #353535;
  height: 100%;
  display: flex;
  color: var(--white);
  &-content {
    width: 100%;
    padding: 2rem 0 0 10rem;
    &-title-block {
      display: flex;
      align-items: center;
    }
    &__title {
      font-size: 3rem;
      font-weight: 700;
    }
    &__icon {
      margin-left: 2rem;
      cursor: pointer;
    }
    &-user-info {
      max-width: 50rem;
      width: 100%;
      &__item {
        display: flex;
        &__name {
          font-weight: 300;
          width: 30%;
          opacity: 0.8;
        }
        &__value {
          font-weight: 700;
        }
      }
      &__delimeter {
        width: 100%;
        border: 2px solid #F5E9A8;
      }
      &-details {
        opacity: 0.3;
        font-weight: 300;
        font-size: 1.4rem;
        max-width: 40rem;
        &__text {
          margin: 1rem 0;
        }
      }
    }
  }
}