:root {
  --white: #fff;
  --energy-yellow: #F3DC62;
  --tulip-tree: #E8AB4F;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --punch: #DB3636;
  --mine-shaft: #353535;
  --sandwisp: #F5E9A8;
  --cod-gray: #151515;
}