:root {
  --white: #fff;
  --energy-yellow: #F3DC62;
  --tulip-tree: #E8AB4F;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --punch: #DB3636;
  --mine-shaft: #353535;
  --sandwisp: #F5E9A8;
  --cod-gray: #151515;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Helvetica', 'sans-serif'
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

#root {
  height: 100%;
}