.site-background {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('/assets/images/Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}
.base-greeting {
  font-family: 'Helvetica';
  color: #fff;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}