
.site-background {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url('/assets/images/Background.svg');
  padding-top: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}